
body {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

/*Обертка*/

.container {
    max-width: 1440px;
    margin: 0 auto;
    background: url("../Images/MaskGroup.png") no-repeat;

}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*Hadder*/

.header {
    display: flex;
    height: 581px;
    justify-content: space-between;
    align-items: start;
}

.header img {
    padding-top: 4px;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-a {
    padding-right: 83px;
    padding-top: 33px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;
}

.nav-a:last-of-type {
    padding-right: 0;
}


.content_article {
    margin-top: 83px;
}

.main_article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.main_article h1 {
    margin: 0;
    font-family: Spectral SC;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2E2F22;
}

#id_theme_selection {
    width: 203px;
    height: 46px;
    border-radius: 10px;
    background: #D7D1C9 url("../Images/Arrow.png") no-repeat 162px;
    appearance: none;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
}

/* .a-nav {

} */

/* 
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(../Images/MaskGroup.png) no-repeat;

}

.container {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 581px;
}

.div-container {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 581px;
}

Главный

.content_main {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 82.51px;
}

.div-logo {
    display: flex;
    align-items: center;
}

.div-navigation {
    display: flex;
    align-items: center;
}

.div-navigation a{
    margin-right: 100px;
    text-decoration: none;
    font-size: 18px;
    color: #2E2F22;
    line-height: 25px;
}

.div-navigation a:last-of-type{
    margin-right: 0;
}

Статьи

.content_article {
    width: 1200px;
    height: 1000px;
    margin: 83px 120px 85px;
}

.main_article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 60px;
}

.main_article h1 {
    margin: 0;
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2E2F22;
}

.main_article select {
    width: 203px;
    height: 46px;
    border-radius: 10px;
    appearance: none;
    background: #D7D1C9 url("../Images/Arrow.png") no-repeat 162px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
    padding-left:  12px ;
}

.main_photo_article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo_article {
    width: 387px;
}

.photo_article:nth-last-of-type(2) {
    width: 823,28px;
    height: 552px;
    background: url('../Images/Roses.png') no-repeat;
    background-size: 823,28px 552px;
}

.photo_article:nth-last-of-type(1) {
    width: 823,28px;
    height: 552px;
    background: url('../Images/Cake.png') no-repeat;
    background-size: 823,28px 552px;
}

.tegs {
    display: flex;
    justify-content: space-between;
}

.photo_article h3 {
    font-family: "Spectral SC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2E2F22;
}

.photo_article .description {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
    margin: 0;
}

.photo_article p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
} */