
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

/*Обертка*/

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.page-header .wrapper {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
}

/*Шапка*/

.page-header {
    display: flex;
    height: 581px;
    align-items: start;
    background: url("../Images/MaskGroup.png") no-repeat;
    background-size: 100% auto;
}

.header__logo {
    padding-top: 4px;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 33px;
}

.nav__item:not(.nav__item:last-of-type) {
    padding-right: 83px;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;
}

/* Статьи */

.articles {
    margin-top: 83px;
    color: #2E2F22;
}

.articles-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.articles__title {
    margin: 0;
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
}

.articles__theme-selection {
    width: 203px;
    height: 46px;
    border-radius: 10px;
    background: #D7D1C9 url("../Images/Arrow.png") no-repeat 162px;
    appearance: none;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 22px;
}

.articles__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 42px;
}

.article {
    max-width: 387px;
    margin-bottom: 62px;
}

.article_4 {
    background: url("../Images/article4.png") no-repeat;

}

.article_5 {
    background: url("../Images/article5.png") no-repeat;

}

.article_white {
    min-width: 590px;
    min-height: 552px;
    color: #FFFFFF;
    padding-left: 82px;
    padding-right: 79px;
    padding-bottom: 61px;
}

.article__title {
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    padding-top: 27px;
    padding-bottom: 8px;
    margin: 0;
}

.article__title_white {
    font-size: 20px;
    line-height: 30px;
    padding-top: 359px;
}

.article__description {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 12px;
    margin: 0;
}

.article__description_white {
    font-size: 18px;
    line-height: 28px;
}

.article__footer {
    display: flex;
    justify-content: space-between;
}

.article__text {
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
}

.article__text_white {
    color: rgba(255, 255, 255, 0.7);
}

.articles__button {
    display: flex;
    justify-content: center;
}

.button-articles__link {
    text-decoration: none;
    border: 1px solid #202117;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    padding:12px 57px 12px 58px;
}

/* Обо мне */

.autobiography {
    margin-top: 85px;
}

.autobiography__title {
    display: flex;
    justify-content: center;
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin: 0;
}

.autobiography__content {
    display: flex;
    justify-content: center;
    margin-top: 49px;
}

.autobiography__description {
    margin-top: 49px;
    margin-left: 20px;
}

.autobiography__text {
    max-width: 497px;
    font-size: 16px;
    line-height: 26px;
}

.autobiography__italic {
    max-width: 550px;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    padding-left: 20px;
    padding-top: 27px;
    padding-bottom: 27px;
    border-left: 3px solid #D7D1C9;
}