
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

/*Обертка*/

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.page-header .wrapper {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
}

/*Шапка*/

.page-header {
    display: flex;
    height: 581px;
    align-items: start;
    background: url("../Images/MaskGroup.png") no-repeat;
    background-size: 100% auto;
}

.header__logo {
    padding-top: 4px;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 33px;
}

.nav__item:not(.nav__item:last-of-type) {
    padding-right: 83px;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;
}

/* Статьи */

.articles {
    margin-top: 83px;
    color: #2E2F22;
}

.articles-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.articles__title {
    margin: 0;
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
}

.articles__theme-selection {
    width: 203px;
    height: 46px;
    border-radius: 10px;
    background: #D7D1C9 url("../Images/Arrow.png") no-repeat 162px;
    appearance: none;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 22px;
}

.articles__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles__button {

}

.article {
    max-width: 387px;
    margin-bottom: 62px;
}

.article_4 {
    background: url("../Images/article4.png") no-repeat;

}

.article_5 {
    background: url("../Images/article5.png") no-repeat;

}

.article_white {
    min-width: 590px;
    min-height: 552px;
    color: #FFFFFF;
    padding-left: 82px;
    padding-right: 79px;
    padding-bottom: 61px;
}

.article__title {
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    padding-top: 27px;
    padding-bottom: 8px;
    margin: 0;
}

.article__title_white {
    font-size: 20px;
    line-height: 30px;
    padding-top: 359px;
}

.article__description {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 12px;
    margin: 0;
}

.article__description_white {
    font-size: 18px;
    line-height: 28px;
}

.article__footer {
    display: flex;
    justify-content: space-between;
}

.article__text {
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
}

.article__text_white {
    color: rgba(255, 255, 255, 0.7);
}

/* .a-nav {

} */

/*
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(../Images/MaskGroup.png) no-repeat;

}

.container {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 581px;
}

.div-container {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 581px;
}

Главный

.content_main {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 82.51px;
}

.div-logo {
    display: flex;
    align-items: center;
}

.div-navigation {
    display: flex;
    align-items: center;
}

.div-navigation a{
    margin-right: 100px;
    text-decoration: none;
    font-size: 18px;
    color: #2E2F22;
    line-height: 25px;
}

.div-navigation a:last-of-type{
    margin-right: 0;
}

Статьи

.content_article {
    width: 1200px;
    height: 1000px;
    margin: 83px 120px 85px;
}

.main_article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 60px;
}

.main_article h1 {
    margin: 0;
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2E2F22;
}

.main_article select {
    width: 203px;
    height: 46px;
    border-radius: 10px;
    appearance: none;
    background: #D7D1C9 url("../Images/Arrow.png") no-repeat 162px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
    padding-left:  12px ;
}

.main_photo_article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo_article {
    width: 387px;
}

.photo_article:nth-last-of-type(2) {
    width: 823,28px;
    height: 552px;
    background: url('../Images/Roses.png') no-repeat;
    background-size: 823,28px 552px;
}

.photo_article:nth-last-of-type(1) {
    width: 823,28px;
    height: 552px;
    background: url('../Images/Cake.png') no-repeat;
    background-size: 823,28px 552px;
}

.tegs {
    display: flex;
    justify-content: space-between;
}

.photo_article h3 {
    font-family: "Spectral SC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2E2F22;
}

.photo_article .description {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
    margin: 0;
}

.photo_article p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
} */
